.newscard{
 
}
.card{
    margin: 10px;
}
.card-img-top {
    width: 100%;
    height: 10vw;
    object-fit: cover;
}
.read{
    position: absolute;
    bottom: 1px;
}
/* .special{
  background-image: url('../logos/bg.png');
} */
